@media only screen and (min-width:600px) {
    
    .buttons {
        grid-row: 2;
        grid-column: 4/span 1;
        z-index: 1;
        position: relative;
        margin-top: 90px;
        margin-left: 3vw;
    }

    .tuple {
        display: flex;
        flex-direction: row;
    }

    .buttons a {
        grid-column: 5/span 2;
        display: block;
        position: relative;
        font-size: 14px;
        margin-bottom: 29px;
        margin-left: 10px;
    }

    .far {
        color: white;
        cursor: pointer;
    }

    .far:hover {
        color: teal;
    }

    .fas {
        color: white;
        cursor: pointer;
    }

    .circle {
        display: block;
    }

}

@media only screen and (max-width:600px) {
    
    .buttons {
        grid-row: 2;
        grid-column: 4/span 1;
        z-index: 1;
        position: relative;
        margin-top: 105px;
        margin-left: 7vw;
    }

    .tuple {
        display: flex;
        flex-direction: row;
    }

    .buttons a {
        font-size: 14px;
        margin-bottom: 28.8px;
        right: 17vw;
        margin-left: 8px;
    }

    .far {
        color: white;
        cursor: pointer;
    }

    .far:hover {
        color: teal;
    }

    .fas {
        color: white;
        cursor: pointer;
    }

    .circle {
        display: block;
    }

}