@media only screen and (min-width:600px) {
    .recommendation {
        grid-row: 1;
        grid-column: 2/span 6;
    }
}

@media only screen and (max-width:600px) {
    .recommendation {
        grid-row: 1;
        grid-column: 1/span 4;
    }
}