@media only screen and (min-width:600px) {
    .App {
        background: #e0e0e0;
        color: white;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        grid-template-columns: repeat(12,1fr);
        overflow: hidden;
    }
}