.file-drop-area {
    position: relative;
    transition: 0.2s;
}

.take-photo {
    padding: 10px;
    background: black; 
    display: table;
    color: #fff;
}


input[type="file"] {
    display: none;
}

@media only screen and (min-width:600px) {
    .take-photo-img {
        width: 10vw;
    }
}

@media only screen and (max-width:600px) {
    .take-photo-img {
        height: 15vh;
    }
}